<%-include("partials/navbar.ejs")%>
    <%-include("partials/title.ejs",{title:"JEWELLERY STORE"})%>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <div class="container emp-profile">
            <form method="post">
                <% for(var i=0;i<customer.length;i++) {%>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="#" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                <h5>
                                    <%=customer[i].firstname%>
                                        <%=customer[i].lastname%>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6"><label>User Name</label></div>
                                        <div class="col-md-6">
                                            <p>
                                                <%=customer[i].username%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><label>Email</label></div>
                                        <div class="col-md-6">
                                            <p>
                                                <%=customer[i].email%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><label>Phone</label></div>
                                        <div class="col-md-6">
                                            <p>
                                                <%=customer[i].Contact%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><label>Address</label></div>
                                        <div class="col-md-6">
                                            <p>
                                                <%=customer[i].address%>
                                                    <%=customer[i].address2%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><label>Zip code</label></div>
                                        <div class="col-md-6">
                                            <p>
                                                <%=customer[i].zip%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><label>City</label></div>
                                        <div class="col-md-6">
                                            <p>
                                                <%=customer[i].city%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"><label>State</label></div>
                                        <div class="col-md-6">
                                            <p>
                                                <%=customer[i].state%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                    </div> -->
                            </div>
                        </div>
                    </div>
                    <%}%>
            </form>
        </div>
        </body>
        <%-include("partials/footer.ejs")%>

            </html>